
.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/hero.jpg');

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 0;
  animation-duration: 2s;
  animation-timing-function: ease;
  transform: translateY(0%);
  z-index: 4;
}

.hero__caption {
  margin-left: 96px;
}

.hero__text {
  font-size: 160px;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}

.hero__text--under {
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 32px;
  font-size: 48px;
  letter-spacing: 96px;
  color: var(--primaryShadow);
  text-shadow: 0 0 8px var(--primary);
  font-family: 'Orbitron', sans-serif;
}

.hero__button {
  margin-left: 32px;
  transform: translateY(20px);
  padding: 16px 32px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  background: transparent;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
  border: none;
  transition: .25s ease;
  cursor: pointer;
  border: 2px solid white;
}

.hero__button:hover,
.hero__button--active {
  border: 2px solid var(--primaryShadow);
  color: var(--primaryShadow);
  background: none;
}

.hero__button--active:hover {
  color: white;
  border: 2px solid white;
}

.hero--off {
  animation-duration: 2s;
  animation-timing-function: ease;
  opacity: 0;
  pointer-events: none;
  transition-delay: 2s;
  z-index: 1;
}

@media (max-width: 997.96px) {
  .hero {
    background-position: center;
  }

  .hero{
    position: relative;
  }


  .hero__text {
    margin: auto;
  }
}

@media (max-width: 767.98px) {
  .hero__text {
    font-size: 120px;
  }
}

@media (max-width: 575.98px) {
  .hero__caption {
    margin: auto;
  }

  .hero__text,
  .hero__text--under {
    display: none;
  }

  .hero__button {
    margin: auto;
    margin-top: 128px;
    border: 2px solid var(--primaryShadow);
    color: var(--primaryShadow);
    background: none;
  }
  
  .hero__button:hover {
    color: white;
    border: 2px solid white;
  }
}