.robot-checker {
  width: 30%;
  height: auto;
  padding: 32px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.robot-checker__question {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.robot-checker__answer-list {
  width: 100%;
} 

.robot-checker__answer {
  padding: 12px;
  margin: 12px;
  list-style: none;
  background: white;
  color: black;
}

@media (max-width: 1199.98px) {
  .robot-checker {
    width: 40%;
  }  
}

@media (max-width: 997.96px) {
  .robot-checker {
    width: 60%;
  }  
}