.video {
  width: 100%;
  height: 100vh;
  background: black;  

  display: grid;
  grid-template-columns: 1fr;
}

.video__wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video__player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.video {
  position: absolute;
  top: 0;
  animation-duration: 2s;
  animation-timing-function: ease;
  transform: translateY(0%);
}

.video--off {
  animation-duration: 2s;
  animation-timing-function: ease;
  opacity: 0;
  pointer-events: none;
  transition-delay: 2s;
}

@media (max-width: 997.96px) {
  .video {
    position: relative;
  }

  .video {
    height: fit-content;
  }  
}

