@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Reenie+Beanie&display=swap');


:root {
  --primary: rgb(0, 209, 216);
  --primaryShadow: rgb(0, 255, 234);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  height: auto;
  padding: 32px 96px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.navbar__logo {
  height: 48px;
  filter: invert();
}

.navbar__button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 16px;
  font-size: 12px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;

  display: flex;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  
}

.navbar__button-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-right: 12px;
}

.navbar__button:hover {
  text-shadow: 0px 0px 4px white;
}

.navbar__button:hover .navbar__button-icon {
  box-shadow: 0px 0px 8px rgb(0, 255, 234);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/images/hero.jpg');

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero__caption {
  margin-left: 96px;
  font-size: 160px;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}

.album {
  width: 100%;
  height: 100vh;
  background: transparent;
  padding: 0 96px;

  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.album__image {
  width: 50%;
}

.album__caption {
  width: 50%;
  padding: 0 80px;
}

.album__caption--header {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
}

.album__caption__line {
  width: 10%;
  border: 2px solid black;
  margin: 12px 0;
}

.album__caption--description {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 16px;
}

.album__caption--above {
  font-size: 40px;
  font-family: 'Reenie Beanie', cursive;
  color: var(--primary);
}

.album__button-container {
  display: flex;
  margin-bottom: 50px;
}

.album__button {
  border: 1px solid var(--primary);
  border-radius: 4px;
  background: none;
  padding: 8px;
  color: var(--primary);
  margin-right: 12px;
  cursor: pointer;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s ease;
}

.album__button:hover {
  color: black;
  border: 1px solid black;
}

.album__button__icon {
  font-size: 24px;
  margin-right: 4px;
  display: flex;
}

.album__button__text {
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.album__button__text--big {
  font-size: 15px;
  font-weight: 500;;
}

.video {
  width: 100%;
  height: 100vh;
  background: black;  

  display: grid;
  grid-template-columns: 1fr;
}

.video__wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video__player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.controls {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 5;
}

.controls__circle {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  margin-bottom: 12px;
  border: 2px solid var(--primary);
  border-radius: 50%;
}

.active .controls__circle {
  background: var(--primary);
}

.footer {
  width: 100%;
  height: auto;
  padding: 32px 96px;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 180px;
  color: white;
}

.footer__link {
  padding: 8px;
  font-size: 18px;
}

.footer__link:hover {
  filter: drop-shadow(0px 0px 4px rgb(0, 255, 234));
}