@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Reenie+Beanie&display=swap');


:root {
  --primary: rgb(0, 209, 216);
  --primaryShadow: rgb(0, 255, 234);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.App {
  width: 100%;
  max-height: 100vh;

}

.navbar {
  position: fixed;
  width: 100%;
  height: auto;
  padding: 32px 96px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.navbar__logo {
  height: 48px;
  transition-delay: 1s;
  transition-duration: 1s;
}

.navbar__logo--white {
  filter: invert();
}

.navbar__button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 16px;
  font-size: 12px;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;

  display: flex;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  transition-duration: 2s;
}

.navbar__button--white {
  color: white;
}

.navbar__button-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.navbar__button-icon--white {
  border: 1px solid white;
}

.navbar__button:hover {
  text-shadow: 0px 0px 4px white;
}

.navbar__button:hover .navbar__button-icon {
  box-shadow: 0px 0px 8px rgb(0, 255, 234);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/images/hero.jpg');

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.hero__caption {
  margin-left: 96px;
  font-size: 160px;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}

.album {
  width: 100%;
  height: 100vh;
  background: white;
  padding: 0 96px;

  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.album__image {
  width: 50%;
}

.album__caption {
  width: 50%;
  padding: 0 80px;
}

.album__caption--header {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
}

.album__caption__line {
  width: 10%;
  border: 2px solid black;
  margin: 12px 0;
}

.album__caption--description {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 16px;
}

.album__caption--above {
  font-size: 40px;
  font-family: 'Reenie Beanie', cursive;
  color: var(--primary);
}

.album__button-container {
  display: flex;
  margin-bottom: 50px;
}

.album__button {
  border: 1px solid var(--primary);
  border-radius: 4px;
  background: none;
  padding: 8px;
  color: var(--primary);
  margin-right: 12px;
  cursor: pointer;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s ease;
}

.album__button:hover {
  color: black;
  border: 1px solid black;
}

.album__button__icon {
  font-size: 24px;
  margin-right: 4px;
  display: flex;
}

.album__button__text {
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.album__button__text--big {
  font-size: 15px;
  font-weight: 500;;
}

.video {
  width: 100%;
  height: 100vh;
  background: black;  

  display: grid;
  grid-template-columns: 1fr;
}

.video__wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video__player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.events {
  width: 100%;
  height: 100vh;
  background: white;
  padding: 0 96px;

  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(96px + 24px);
  width: auto;
  height: fit-content;
  z-index: 3;
}

.controls::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  content: '';
  height: 120px;
  border-left: 2px solid white;
  z-index: -1;
}

.controls--primary::before {
  border-left: 2px solid var(--primary);
}

.controls__circle {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-color: var(--primary);
  border: 2px solid white;
  z-index: 5;
  opacity: 0;
}

.controls__circle--primary {
  background-color: white;
  border: 2px solid var(--primary);
}

.controls__circle--active {
  opacity: 1;
}

.footer {
  width: 100%;
  height: auto;
  padding: 32px 96px;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 180px;
  color: white;
}

.footer__link {
  padding: 8px;
  font-size: 18px;
}

.footer__link:hover {
  filter: drop-shadow(0px 0px 4px rgb(0, 255, 234));
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__container {
  position: fixed;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100%;
  padding: 32px 64px;
  /* background: black; */
  background: white;
  color: black;
  /* color: white; */
  transition-duration: 1s;
  z-index: 5;
}

.form__container--active {
  display: block;
  right: 0;
}

.form__close {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 16px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

.form__header {
  font-size: 48px;
  font-family: 'Reenie Beanie', cursive;
}

.form__label {
  font-size: 12px;
  line-height: 24px;
}

.form__input {
  width: 100%;
  height: 48px;
  padding: 8px;
}

.form__input:focus {
  outline: 1px solid var(--primaryShadow);
}

.form__input--textarea {
  height: 120px;
  font-family: 'Inter', sans-serif;
}

.form__button {
  margin-top: 32px;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  cursor: pointer;
}

.form__alert {
  position: fixed;
  top: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 120px;
  background-color: black;
  color: white;
  z-index: 6;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__alert--active {
  display: flex;
}

.form__error {
  color: red;
  font-size: 10px;
  line-height: 16px;
}

.robot-checker {
  width: 25%;
  height: auto;
  padding: 32px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.robot-checker__question {
  font-size: 20px;
}

.robot-checker__answer-list {
  width: 100%;
} 

.robot-checker__answer {
  padding: 12px;
  margin: 12px;
  list-style: none;
  background: white;
  color: black;
}

/* .hero,
.album,
.video, 
.events {
  position: absolute;
  top: 0;
  animation-name: slide-down-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  transition-duration: 2s;
  transform: translateY(0%);
} */

.hero,
.album,
.video, 
.events {
  position: absolute;
  top: 0;
  /* animation-name: slide-up-in; */
  animation-duration: 2s;
  animation-timing-function: ease;

  transform: translateY(0%);
}

.slide-up-in {
  animation-name: slide-up-in;
}

.slide-up-out {
  animation-name: slide-up-out;
}

.slide-down-in {
  animation-name: slide-down-in;
}

.slide-down-out {
  animation-name: slide-down-out;
}

/* .hero--off,
.album--off,
.video--off,
.events--off {
  animation-name: slide-down-out;
  animation-duration: 2s;
  animation-timing-function: ease;
  transform: translateY(100%); 
} */

.hero--off,
.album--off,
.video--off,
.events--off {
  /* animation-name: slide-up-out; */
  animation-duration: 2s;
  animation-timing-function: ease;
  transform: translateY(100%); 
}

.view-counter {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 6;
}

@keyframes slide-up-in {
  0% {
    transform: translateY(100%);
    z-index: 1;
  }
  100% {
    transform: translateY(0%);
    z-index: 1;
  }
}

@keyframes slide-up-out {
  0% {
    transform: translateY(0%);
    /* z-index: -1; */
  }
  100% {
    transform: translateY(-100%);
    display: none;
    /* z-index: -1; */
  }
}

@keyframes slide-down-in {
  0% {
    transform: translateY(-100%);
    z-index: 1;
  }
  100% {
    transform: translateY(0%);
    z-index: 1;
  }
}

@keyframes slide-down-out {
  0% {
    transform: translateY(0%);
    z-index: -1;
  }
  100% {
    transform: translateY(100%);
    display: none;
    z-index: -1;
  }
}

.left-arrow,
.right-arrow {
  position: fixed;
  right: 104px;
  z-index: 4;
  font-size: 40px;
  cursor: pointer;
  color: white;
  transition-duration: 1s;
}

.left-arrow--black,
.right-arrow--black {
  color: var(--primary);
}

.left-arrow {
  top: 160px;
}

.right-arrow {
  bottom: 160px;
  transform: rotate(180deg);
}